
/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */

body { background: #FCFBED; }

/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */
/*#menu
{
	position: fixed;
	width: 100%;
	height: 35px;

}*/
header {
   position: relative;
   height: 100px;
   min-height: 500px;
   width: 100%;
   /*background: #bef2ff ;*/
   text-align: center;
   /*overflow: hidden;*/
   color: #000;
}
header .banner-text { width: 100%; }
header .banner-text p {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: rgb(0, 0, 0);
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   height: 200px;
  
}

/*header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }*/

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
  /* color: rgb(0, 147, 192);*/
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   /*color: rgb(0, 247, 255);*/
   border-radius: 100%;

  -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#menu ul, #menu li, #menu a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
    /*background: #bd0762;*/
}

/* menu */
#menu {
   font: 12px ;  
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   text-align: center;
   font-style: normal;
   /*background: #FCFBED;*/
}
.opaque { background-color: rgb(179, 227, 255); }

ul#nav {
   min-height: 48px;
   width: auto;
   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
  	color: rgb(0, 0, 0);

/*	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;*/
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li a:hover{color: #777777;}
ul#nav li.a:current { color: #F06000; }


/* ------------------------------------------------------------------ */
/* About Section
/* ------------------------------------------------------------------ */

#about {
   background: #fff1d6;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
   color: #000;
   
}

 #about a, #about a:visited  { color: rgb(0, 0, 0); } 
 #about a:hover, #about a:focus { color: #11ABB0; } 

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: rgb(0, 0, 0);
   margin-bottom: 12px;
   text-align: center;
}
#about p {
   line-height: 30px;
   text-align: center;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}

#about .main-col { padding-right: 5%; }

/* ------------------------------------------------------------------ */
/* Photo Section
/* ------------------------------------------------------------------ */

#photo {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
   text-align: center;
}
#photo h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;

}

/* photo Content */
#photo-wrapper .columns {
	 margin-bottom: 36px; }
.photo-item .item-wrap {
   overflow: hidden;
   position: relative;
}
.photo-item .item-wrap a {
   display: block;
   cursor: pointer;
}
/* ------------------------------------------------------------------ */
/* Playlist Section
/* ------------------------------------------------------------------ */
#playlist{
   background: #fff1d6;
   padding-top: 90px;
   padding-bottom: 60px;
   text-align: center;
}
/* ------------------------------------------------------------------ */
/* Like Section
/* ------------------------------------------------------------------ */
#like {
	background: #ebeeee;
	padding-top: 90px;
	padding-bottom: 60px;
	text-align: center;
 }

/* ------------------------------------------------------------------ */
/* QR code Section
/* ------------------------------------------------------------------ */
#qrcoder {
	background: #fff1d6;
	padding-top: 90px;
	padding-bottom: 60px;
	text-align: center;
 }
 #qrcoder h1 {
	font: 15px/24px 'opensans-semibold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
 
 }

 /* QR Content */
#columns .columns {
	margin-bottom: 36px; 
}

.QR-item .item-wrap {
  overflow: hidden;
  position: relative;
}
.QR-item .item-wrap a {
  display: block;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* Q&A Section
/* ------------------------------------------------------------------ */


/* ------------------------------------------------------------------ */
/* Contact Me Section
/* ------------------------------------------------------------------ */

